h1 {
  color: green;
}

th {
  font-size: 22px;
}

td {
  font-size: 24px;
}


.new-button {
    display: inline-block;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 4px;
    background-color: #6c757d;
    font-size: 16px;
    color: #fff;
}
input[type="file"] {
  position: absolute;
  z-index: -1;
  top: 8px;
  left: 30px;
  font-size: 15px;
  color: rgb(153,153,153);
}
.button-wrap {
  position: relative;
}
