{% extends 'prod_inventory_app/base.html'%}
{% load crispy_forms_tags%}
{% load static %}
{% block content%}
<br/>

<div class="container">
    <h1 class="text-center">SALES</h1><br>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">UPLOAD SALES</th>
        </tr>
        </thead>
    </table>
{% if messages %}
    {% for message in messages %}
        <div>
            <strong>{{message|safe}}</strong>
        </div>
    {% endfor %}
{% endif %}
    <form action="{% url 'all_sales' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" id="file" name="file">
        <button class="btn btn-secondary btn" type="submit">Upload</button>
    </form>
</div>

<div class="container">
        <a href="{% static 'prod_inventory_app/sales_template.csv' %}">
            <input
                    class="btn btn-link"
                    value="Download Sales Template"
                    type="button"/>
        </a>
    </div>
    <br/>

<div class="container">
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">SEARCH SALES</th>
        </tr>
        </thead>
    </table>
</div>

<div class="container">
    <form method="get">
        {% csrf_token %}
        {{ sale_filters.form | crispy}}
        <button class="btn btn-secondary btn" type="submit">Search</button>
    </form>
    <span style="display:block; height: 20px;"></span>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Date Sold</th>
            <th scope="col">Customer name</th>
            <th scope="col">Item Bought</th>
            <th scope="col">Quantity</th>
            <th scope="col">Unit Price($)</th>
            <th scope="col">Total</th>
        </tr>
        </thead>

        <div class="pagination">
            {% if sale.has_previous %}
            <a href="?page=1"><<</a>
            <a href="?page={{ sale.previous_page_number }}">prev</a>
            {% endif %}
            {% for num in sale.paginator.page_range %}
            {% if sale.number == num %}
            <strong>{{ num }}</strong>
            {% elif num > sale.number|add:'-3' and num < sale.number|add:'3' %}
            {{ num }}
            {% endif %}
            {% endfor %}
            {% if sale.has_next %}
            <a href="?page={{ sale.next_page_number }}">next</a>
            <a href="?page={{ sale.paginator.num_pages }}">>></a>
            {% endif %}

        </div>

        {% for sal in sale %}
        <tbody>
        <tr>
            <td>{{sal.date | title}}</td>
            <td>{{sal.customer | title}}</td>
            <td>{{sal.product | title}}</td>
            <td>{{sal.quantity}}</td>
            <td>${{sal.unit_price}}</td>
            <td>${{sal.get_total}}</td>
        </tr>
        </tbody>
        {% endfor %}
    </table>
    <a href="{% url 'export_sales_csv' %}">
        <input
                value="Export Sales to CSV"
                class="btn btn-secondary btn"
                type="button"/>
    </a>
</div>

{% endblock%}
