{% extends 'prod_inventory_app/base.html'%} {% block content%}
{% load crispy_forms_tags%}
{% load static %}
<br/>
<div class="container">
    <h1 class="text-center">SALES</h1><br>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">SEARCH SALES</th>
        </tr>
        </thead>
    </table>
</div>

<div class="container">
    <form method="get">
        {% csrf_token %}
        {{ sale_filters.form | crispy}}
        <button type="submit">Search</button>
    </form>
    <span style="display:block; height: 20px;"></span>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Date Sold</th>
            <th scope="col">Customer name</th>
            <th scope="col">Item Bought</th>
            <th scope="col">Quantity</th>
            <th scope="col">Unit Price($)</th>
            <th scope="col">Total</th>
        </tr>
        </thead>
        {% for sales in sale_filters.qs %}
        <tbody>
        <tr>
            <td>{{sales.date | title}}</td>
            <td>{{sales.customer | title}}</td>
            <td>{{sales.product | title}}</td>
            <td>{{sales.quantity}}</td>
            <td>${{sales.unit_price}}</td>
            <td>${{sales.get_total}}</td>
        </tr>
        </tbody>
        {% endfor %}
    </table>

    <a href="{% url 'export_sales_csv' %}">
        <input
            value="Export Sales to CSV"
            class="btn btn-secondary btn"
            type="button"/>
    </a>
</div>

{% endblock%}
