{% extends 'prod_inventory_app/base.html'%}
{% load static %}
{% block content%}

<br/>
{% if messages %}
{% for message in messages %}
<div>
    <strong>{{message|safe}}</strong>
</div>
{% endfor %}
{% endif %}
<div class="container">
    <h1 class="text-center">ITEMS IN STOCK</h1>
    <br/>

    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">UPLOAD</th>
        </tr>
        </thead>
    </table>
   
    <form action="{% url 'add_product' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" id="file" name="file">
        <button class="btn btn-secondary btn" type="submit">Upload</button>
    </form>

    <div class="container">
        <a href="{% static 'prod_inventory_app/products_template.csv' %}">
            <input
                    class="btn btn-link"
                    value="Download Products Template"
                    type="button"/>
        </a>
    </div>
    <br/>

    <br/>

    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">SEARCH</th>
        </tr>
        </thead>
    </table>

    <br>
    <div class="container">
        <form action="" method="GET">
            {{product_filters.form}}
            <input
                    type="submit"
                    value="Search Products"
                    class="btn btn-secondary btn"/>
        </form>

        <span style="display:block; height: 20px;"></span>

    </div>

    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Item Name</th>
            <th scope="col">Description</th>
            <th scope="col">Quantity</th>
            <th scope="col"></th>
        </tr>
        </thead>

        <div class="pagination">
            {% if products.has_previous %}
                <a href="?page=1"><<</a>
                <a href="?page={{ products.previous_page_number }}">prev</a>
            {% endif %}
            {% for num in products.paginator.page_range %}
                {% if products.number == num %}
                    <strong>{{ num }}</strong>
                {% elif num > products.number|add:'-3' and num < products.number|add:'3' %}
                    {{ num }}
                {% endif %}
            {% endfor %}
            {% if products.has_next %}
                <a href="?page={{ products.next_page_number }}">next</a>
                <a href="?page={{ products.paginator.num_pages }}">>></a>
            {% endif %}
        </div>

        {% for product in products %}
            <tbody>
            <tr>
                <td>{{product.name}}</td>
                <td>{{product.description}}</td>
                <td>{{product.quantity}}</td>
            <td>
                <a href="{% url 'product_detail' product.id %}">
                    <input
                        value="SELL / ADD"
                        class="btn btn-secondary btn"
                        type="button"/>
                </a>
            </td>
            </tr>
            </tbody>
        {% endfor %}
    </table>

</div>

{% endblock %}
