{% extends 'prod_inventory_app/base.html'%} {% block content%}
<br></br>


<div class = "container">
    <a href="{% url 'sell_item' product.id %}" ><input type="submit" value="Sell Item" class="btn btn-secondary" btn type="button"/></a>
    <a href="{% url 'add_to_stock' product.id %}" ><input type= "submit" value="Add To Stock" class="btn btn-secondary btn" type="button"/></a>
    <a href="{% url 'remove_item' product.id %}" ><input type= "submit" value="Remove Damaged/Lost Item" class="btn btn-secondary btn" type="button"/></a>
</div>

<br></br>


<div class = "container">
  <table class="table">
    <thead class="thead-dark">
      <tr>

        <th scope="col">Item Name</th>
		<th scope="col">Description</th>
        <th scope="col">Quantity</th>
      </tr>
    </thead>
    <tbody>
      <tr>

        <td>{{product.name}}</td>
		<td>{{product.description}}</td>
        <td>{{product.quantity}}</td>
      </tr>
    </tbody>
  </table>
  <a href="{% url 'product_detail_chart' product.id 2 %}" ><input value="Chart Inventory" class="btn btn-secondary btn" type="button"/></a>
</div>
{% endblock%}
