{% extends 'prod_inventory_app/base.html'%}

{% block content %}
<br></br>
<div class = "container">
<h1 class = "text-center">SEARCH</h1><br>
<br></br>

<div class = "container">
<form method="get">
    {{ product_filters.form }}
    <button type="submit">Search</button>
  </form>
  <table class="table">
    <thead class="thead-dark">
      <tr>
		<th scope="col">Product</th>
        <th scope="col">Description</th>
        <th scope="col">Price</th>
      </tr>
    </thead>
    {% for products in product_filters.qs %}
    <tbody>
      <tr>
		<td>{{ products.name }}</td>
        <td>{{ products.description }}</td>
        <td>{{ products.unit_price }}</td>
      </tr>
    </tbody>
    {% endfor %}
  </table>
</div>


<hr style="height:30px">


<div class = "container">
<form method="get">
    {{ sale_filters.form }}
    <button type="submit">Search</button>
  </form>
  <table class="table">
    <thead class="thead-dark">
      <tr>
	    <th scope="col">Sale Date</th>
		<th scope="col">Product</th>
        <th scope="col">Qty Sold</th>
        <th scope="col">Price</th>
      </tr>
    </thead>
    {% for sales in sale_filters.qs %}
    <tbody>
      <tr>
		<td>{{ sales.sale_date }}</td>
		<td>{{ sales.product }}</td>
        <td>{{ sales.quantity_issued }}</td>
        <td>{{ sales.unit_price }}</td>
      </tr>
    </tbody>
    {% endfor %}
  </table>
</div>

<hr style="height:30px">  

<div class = "container">
<form method="get">
    {{ restock_filters.form }}
    <button type="submit">Search</button>
  </form>
  <table class="table">
    <thead class="thead-dark">
      <tr>
	    <th scope="col">Order Date</th>
		<th scope="col">Product</th>
        <th scope="col">Qty Received</th>
		<th scope="col">Qty Ordered</th>
		<th scope="col">Vendor</th>
        <th scope="col">Cost</th>
      </tr>
    </thead>
    {% for restock in restock_filters.qs %}
    <tbody>
      <tr>
		<td>{{ restock.order_date }}</td>
		<td>{{ restock.product }}</td>
		<td>{{ restock.quantity_received }}</td>
        <td>{{ restock.quantity_ordered }}</td>
        <td>{{ restock.vendor }}</td>
		<td>{{ restock.vendor_cost }}</td>
      </tr>
    </tbody>
    {% endfor %}
  </table>
</div>

{% endblock %}