{% extends 'prod_inventory_app/base.html'%}

{% block content %}
<br></br>
<div class = "container">
<h1 class = "text-center">SEARCH</h1><br>
<br></br>

<div class = "container">
<form method="get">
    {{ product_filters.form }}
    <button type="submit">Search</button>
  </form>
  <table class="table">
    <thead class="thead-dark">
      <tr>
		<th scope="col">Product</th>
        <th scope="col">Description</th>
      </tr>
    </thead>
    {% for products in product_filters.qs %}
    <tbody>
      <tr>
		<td>{{ products.name }}</td>
        <td>{{ products.description }}</td>
      </tr>
    </tbody>
    {% endfor %}
  </table>
</div>


<hr style="height:30px">


<div class = "container">
<form method="get">
    {{ sale_filters.form }}
    <button type="submit">Search</button>
  </form>
  <table class="table">
    <thead class="thead-dark">
      <tr>
	    <th scope="col">Sale Date</th>
		<th scope="col">Product</th>
        <th scope="col">Qty Sold</th>
        <th scope="col">Price</th>
      </tr>
    </thead>
    {% for sales in sale_filters.qs %}
    <tbody>
      <tr>
		<td>{{ sales.date }}</td>
		<td>{{ sales.product }}</td>
        <td>{{ sales.quantity }}</td>
        <td>{{ sales.unit_price }}</td>
      </tr>
    </tbody>
    {% endfor %}
  </table>
</div>

<hr style="height:30px">

<div class = "container">
<form method="get">
    {{ received_filters.form }}
    <button type="submit">Search</button>
  </form>
  <table class="table">
    <thead class="thead-dark">
      <tr>
	    <th scope="col">Order Date</th>
		<th scope="col">Product</th>
        <th scope="col">Qty Received</th>
		<th scope="col">Vendor</th>
        <th scope="col">Cost</th>
      </tr>
    </thead>
    {% for received in received_filters.qs %}
    <tbody>
      <tr>
		<td>{{ received.date }}</td>
		<td>{{ received.product }}</td>
		<td>{{ received.quantity }}</td>
        <td>{{ received.vendor }}</td>
		<td>{{ received.unit_price }}</td>
      </tr>
    </tbody>
    {% endfor %}
  </table>
</div>

{% endblock %}
