{% extends 'prod_inventory_app/base.html'%}
{% load crispy_forms_tags%}
{% load static %}
{% block content %}

<br/>
<div class="container">
    <h1 class="text-center">STOCK</h1><br>

    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">UPLOAD</th>
        </tr>
        </thead>
    </table>
    {% if messages %}
    {% for message in messages %}
    <div>
        <strong>{{message|safe}}</strong>
    </div>
    {% endfor %}
    {% endif %}
    <form action="{% url 'stock' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" id="file" name="file">
        <button class="btn btn-secondary btn" type="submit">Upload</button>
    </form>

    <div class="container">
        <a href="{% static 'prod_inventory_app/stock_template.csv' %}">
            <input
                    class="btn btn-link"
                    value="Download Restock Template"
                    type="button"/>
        </a>
    </div>
    <br/>

    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">SEARCH</th>
        </tr>
        </thead>
    </table>
</div>

<div class="container">
    <form method="get">
        {{ received_filters.form | crispy}}
        <button class="btn btn-secondary btn" type="submit">Search</button>
    </form>
    <span style="display:block; height: 20px;"></span>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Order Date</th>
            <th scope="col">Product</th>
            <th scope="col">Qty Received</th>
            <th scope="col">Vendor</th>
            <th scope="col">Cost</th>
        </tr>
		<a href="{{request.get_full_path}}?&download=csv">
        <input
            value="  Download Filtered Results  "
            class="btn btn-secondary btn"
            type="button"/>
    </a>
        </thead>

        {% load tags %}
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?{% param_replace page=1 %}">&laquo; first</a>
                    <a href="?{% param_replace page=page_obj.previous_page_number %}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?{% param_replace page=page_obj.next_page_number %}">next</a>
                    <a href="?{% param_replace page=page_obj.paginator.num_pages }">last &raquo;</a>
                {% endif %}
            </span>
        </div>

        {% for rec in page_obj %}
        <tbody>
        <tr>
            <td>{{ rec.date }}</td>
            <td>{{ rec.product }}</td>
            <td>{{ rec.quantity }}</td>
            <td>{{ rec.vendor1 }}</td>
            <td>{{ rec.unit_price }}</td>
        </tr>
        </tbody>
        {% endfor %}
    </table>

</div>

{% endblock %}
